<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<h1>ProTrawler: 2015 Edition</h1>
			<p>A UCI ProTour/WorldTour rider stat collation tool alluding to the fact that you could never be Pro.</p>
			<p><small><b>v0.2-2015</b>. Last trawled: {{exportDate}}.</small></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1 id="metrics">Metrics</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<table style="width:100%">
					<tr>
						<td class="pull-right" style="margin-right: 50px">
							<h3><span class="label label-default">Average Weight</span></h3>
						</td>
						<td>
							<h3>{{metrics.averageWeight}} kg</h3>
						</td>
					</tr>
					<tr>
						<td class="pull-right" style="margin-right: 50px">
							<h3><span class="label label-default">Average Height</span></h3>
						</td>
						<td>
							<h3>{{metrics.averageHeight}} m</h3>
						</td>
					</tr>
					<tr>
						<td class="pull-right" style="margin-right: 50px">
							<h3><span class="label label-default">Average Age</span></h3>
						</td>
						<td>
							<h3>{{metrics.averageAge}} years</h3>
						</td>
					</tr>
					<tr>
						<td class="pull-right" style="margin-right: 50px">
							<h3><span class="label label-default">Biggest Representation</span></h3>
						</td>
						<td>
							<h3>{{metrics.countryRep.name}}&nbsp;<small>[{{metrics.countryRepCount}} riders] </small></h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1 id="riders">Riders</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			{{outlet riderlist}}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1 id="graphs">Graphs</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		{{outlet graph}}
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1 id="about">About</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<h4>This is cool! What's it all about?</h4>
			<p>
				The other day I was wondering what the average weight and height of a pro cyclist was. There's a few sources
				online but the information is sketchy and without citation. I decided I'd write a little python script which
				would trawl Wikipedia to gather riders' weights and heights, and then work out the average based on these numbers.
				This seemed to work pretty well, so I thought I'd knock up a website which displayed this data. Et voilà.
			</p>
			<h4>How does it work?</h4>
			<p>
				Initially I planned on just trawling Wikipedia. This works pretty well but there's lots of incomplete
				rider pages - especially for younger riders. So instead, where possible, I also trawl team websites. Some teams
				have consistent, easy to generate urls based on rider names. Others don't. If a rider doesn't have any stats,
				they aren't shown on the list.<br/>
				For the web interface, I used <a href="http://www.emberjs.com">EmberJS</a> with the generated data set as a 
				fixture. This might seem overkill, but it means I can do things like sorting and graphs without excessive amounts
				of JQuery.
			</p>
			<h4>I want to see how it works!</h4>
			<p>
				Sure. Go here: <a href="https://github.com/arron-h/protour-stat-trawler">https://github.com/arron-h/protour-stat-trawler</a>.
			</p>
		</div>
	</div>
</div>
