<table class="table">
	<tr>
		<th class="flagColumn"></th>
		<th>Name</th>
		<th>{{view "sortIndicator" column="age"}}</th>
		<th>{{view "sortIndicator" column="weight"}}</th>
		<th>{{view "sortIndicator" column="height"}}</th>
	</tr>
	{{#each arrangedContent}}
		<tr>
			<td>
				{{flagUrlImg country.name "23"}}
			</td>
			<td>{{name}}</td>
			<td>{{age}}</td>
			<td>
				{{#if weight}}
					{{weight}} kg
				{{else}}
					?
				{{/if}}
			</td>
			<td>
				{{#if height}}
					{{height}} m
				{{else}}
					?
				{{/if}}
			</td>
		</tr>
	{{/each}}
</table>