<table class="table">
	<tr>
		<th class="flagColumn"></th>
		<th>Name</th>
		<th class="dataColumn">{{view "sortIndicator" column="age"}}</th>
		<th class="dataColumn">{{view "sortIndicator" column="weight"}}</th>
		<th class="dataColumn">{{view "sortIndicator" column="height"}}</th>
	</tr>
	{{#each limitedContent}}
		<tr>
			<td>
				{{flagUrlImg country.name "23"}}
			</td>
			<td>{{name}}</td>
			<td>{{age}}</td>
			<td>
				{{#if weight}}
					{{weight}} kg
				{{else}}
					?
				{{/if}}
			</td>
			<td>
				{{#if height}}
					{{height}} m
				{{else}}
					?
				{{/if}}
			</td>
		</tr>
	{{/each}}
</table>
{{#if shouldShowMore}}
<div class="center-block">
	Displaying the first {{contentSetSize}} results. <a href="#" {{action "showMore"}}>Show more</a> or <a href="#" {{action "showAll"}}>show all</a>.
</div>
{{/if}}